.genre__root {
  max-width: 94%;
  margin: 2.75rem auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  position: relative;
}
.genre__root > h3 {
  margin-bottom: 1rem;
  text-align: start;
  text-align: start;
}
.genre__root > h3::first-letter {
  text-transform: capitalize;
}

.genre__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.genre__row > .posterCard {
  margin: 0 0 0.95rem 0;
}

@media screen and (min-width: 600px) {
  .genre__root {
    margin-top: 3.5rem;
  }
}
