.posterCard {
  flex-shrink: 0;
  background-color: rgba(26, 25, 25, 0.26);
  max-width: 14rem;
  max-height: 16rem;
  position: relative;
  margin: 0 0.45rem;
  border-radius: 0.15rem;
  overflow: hidden;
}

.posterCard__item {
  display: contents;
}

.posterCard:first-child {
  margin-left: 0;
}
.posterCard:last-child {
  margin-right: 0;
}

.posterCard:hover {
  opacity: 0.5;
}
