.posterCard {
  flex-shrink: 0;
  background-color: rgba(26, 25, 25, 0.26);
  max-width: 18rem;
  max-height: 26rem;
  position: relative;
  margin: 0 0.45rem;
  border-radius: 0.15rem;
  overflow: hidden;
}
.posterCard--primary {
  height: 15.5rem;
  width: 13.5rem;
}
.posterCard--maxWidth {
  max-width: 100%;
  width: 100%;
}
.posterCard--secondary {
  height: 10rem;
  width: 16rem;
}
.posterCard__item {
  display: contents;
}

.posterCard:first-child {
  margin-left: 0;
}
.posterCard:last-child {
  margin-right: 0;
}

.posterCard:hover {
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  .posterCard--primary {
    height: 17rem;
    width: 15rem;
  }

  .posterCard--maxWidth {
    max-width: inherit;
  }
}

@media screen and (min-width: 822px) {
  .posterCard--primary {
    height: 20rem;
    width: 17rem;
  }
}
