.pageNotFound {
  width: 90%;
  margin: 0 auto;
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pageNotFound > h2 {
  font-weight: 400;
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.pageNotFound > a {
  background-color: rgb(37, 36, 37);
  width: 10rem;
  font-size: 1.2rem;
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  padding: 0.5rem 1rem;
}

.pageNotFound > a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 786px) {
  .pageNotFound > h2 {
    font-size: 1.5rem;
  }
  .pageNotFound > a {
    width: 8rem;
  }
}

@media screen and (max-width: 500px) {
  .pageNotFound > h2 {
    font-size: 1.2rem;
  }
  .pageNotFound > a {
    width: 6rem;
    font-size: 1rem;
  }
}
