.notFound__root {
  max-width: 94%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.notFound__root > h2 {
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
}

.notFound__root > a {
  background-color: var(--color-text-primary);
  width: 10rem;
  font-size: 1.15rem;
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-secondary);
  border-radius: 0.2rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  padding: 0.5rem 1rem;
}

.notFound__root > a:hover {
  opacity: 0.8;
}
