.genres__root {
  height: 100%;
  margin: 1.35rem 0;
}
.genres__root > h3 {
  margin-bottom: 0.85rem;
}
.genres__row {
  display: flex;
  overflow: scroll hidden;
}
.genres__card::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.6;
}

.genres__card {
  position: relative;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 9rem;
  flex-shrink: 0;
  margin: 0 0.4rem;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: rgba(26, 25, 25, 0.7);
}
.genres__card:first-child {
  margin-left: 0;
}
.genres__card:last-child {
  margin-right: 0;
}
.genres__card:hover {
  transform: scale(1.08);
}
.genres__card > img {
  height: 100%;
  width: 100%;
}

.genres__name {
  color: #fff;
  font-size: 1.3rem;
  margin: 0;
  position: absolute;
  align-self: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .genres__root {
    margin: 1.6rem 0;
  }
  .genres__root > h3 {
    margin-bottom: 1.25rem;
  }
}
