.searchItem {
  width: 90%;
  margin: 0 auto;
  flex: 3;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.searchItem__notFound {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .searchItem__notFound {
    font-weight: 1.2rem;
  }
}
