.searchBar {
  margin-top: 1rem;
  width: 38rem;
  display: flex;
}

.searchBar > input[type='text'] {
  flex: 3;
  outline: none;
  padding: 0.8rem 1.2rem;
  border-width: 0;
  border-style: none;
  font-size: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.searchBar__btnSearch {
  background: red;
  flex: 1;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border-color: red;
  outline: none;
  color: #fff;
  font-weight: 600;
  border-width: 0;
  border-style: none;
  font-size: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .searchBar {
    width: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .searchBar {
    width: 20rem;
    margin: 0;
  }
  .searchBar > input[type='text'] {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
  }

  .searchBar__btnSearch {
    font-size: 0.9rem;
  }
}
