.errorBoundary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  width: 100%;
  flex-direction: column;
}
.errorBoundary > h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.errorBoundary__home {
  background: rgb(24, 23, 23);
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
  font-weight: 500;
}

@media screen and (max-width: 786px) {
  .errorBoundary > h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 786px) {
  .errorBoundary > h2 {
    font-size: 1.4rem;
  }
}
