.posterCard {
  flex-shrink: 0;
  margin: 0 0.3rem;
  background-color: rgba(26, 25, 25, 0.26);
  width: 14rem;
  height: 16rem;
  position: relative;
}
.posterCard > a {
  display: contents;
}
.posterCard__castName {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  background-color: rgb(36, 32, 32);
  margin: 0;
  color: #fff;
  padding: 0.6rem 0;
  left: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.disable-link {
  pointer-events: none;
}
.posterCard:first-child {
  margin-left: 0;
}
.posterCard:last-child {
  margin-right: 0;
}

.posterCard > a > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.posterCard:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .posterCard {
    width: 13rem;
    height: 14rem;
  }
}

@media screen and (max-width: 500px) {
  .posterCard {
    width: 12rem;
    height: 13rem;
  }
}
