.row__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 2rem 0;
}

.row__container > h2 {
  font-weight: 600;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

.row {
  display: flex;
  overflow: scroll hidden;
  width: 100%;
}

@media screen and (max-width: 786px) {
  .row__container > h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .row__container {
    margin: 1.5rem 0;
  }

  .row__container > h2 {
    font-size: 1.3rem;
  }
}
