.toggle {
  display: flex;
  position: absolute;
  top: 10px;
  right: 40px;
}

label.switch {
  width: 64px;
  background: #eee;
  height: 2.2rem;
  border-radius: 20px;
  position: relative;
  transition: all ease 0.3s;
  color: orange;
}

label.switch::after {
  content: "";
  background-color: rgba(12, 12, 12, 0.849);
  top: 0;
  position: absolute;
  width: 32px;
  border-radius: 20px;
  left: 2px;
  top: 1px;
  height: 93%;
}

.checkbox:checked + label.switch::after {
  left: 30px;
}

.checkbox {
  display: none;
}

@media screen and (max-width: 500px) {
  .toggle {
    right: 20px;
  }
  label.switch {
    height: 1.9rem;
    width: 50px;
  }

  label.switch::after {
    width: 29px;
  }
  .checkbox:checked + label.switch::after {
    left: 20px;
  }
}
