.bannerCarousel__root {
  position: relative;
}
.slide {
  max-height: 80vh;
  min-height: 37vh;
}
.slide::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
.slide img {
  min-height: inherit;
}

.bannerCarousel__container {
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 1.6rem;
  align-items: center;
}

.bannerCarousel__container > h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .slide {
    min-height: 80vh;
  }
}
