.banner__root {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 82vh;
  min-height: 38vh;
}
.banner__root:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}
.banner__backdrop {
  width: 100%;
  height: auto;
}

.banner__movieDetails {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1.6rem;
}
.banner__movieDetails > h2 {
  margin-bottom: 0.5rem;
}
.banner__movieDetails > h2 > span {
  font-weight: 400;
}

.banner__movieDetails > h3 {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

.banner__genres {
  display: flex;
  flex-wrap: wrap;
}
.banner__genres > p {
  padding: 0 0.3rem;
  font-weight: 600;
  margin: 0;
}
.banner__genres > p:first-child {
  padding-left: 0;
}

@media screen and (min-width: 600px) {
  .banner__movieDetails {
    padding: 2rem 3rem;
  }
  .banner__movieDetails > h2 {
    margin-bottom: 1rem;
  }
  .banner__movieDetails > h4 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .banner__root {
    min-height: 65vh;
  }
}
@media screen and (min-width: 768px) {
  .banner__movieDetails > h2 {
    margin-bottom: 1rem;
  }
  .banner__movieDetails > h3 {
    margin-bottom: 1rem;
  }
}
